*{
    padding: 0;
    margin: 0;
}
.card-title{
    padding-left: 16px;
}
.card-text{
    margin-bottom: 10px;
    .li__a{
        text-decoration: none;
        color: black;
        &:hover{
            color: #3541c7;
        }
    }
#card__li{
    border: none;
    background-color: #f8f9fa;
    &:hover{
        background-color: white;
    }
}
}
.card__btn{
    justify-content: center;
    align-items: center;
.btn{
    width: 80%;
    margin: 5px 0 5px 0;
    
}
}
#btn__first{
    background-color: #3541c7;
    color: white;
    &:hover{
        background-color: #1421b9;
    }
}
#btn__second{
    background-color: #d6d6d7;
    &:hover{
        background-color: #929293;
    }
}