@media screen and (min-width: 992px) {
  #principal {
    background-color: white;
    box-shadow: 10px 5px 5px rgb(176, 174, 174);
  }
  #principal .profile {
    border-radius: 50px;
  }
  #principal .gral__icons {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  #principal .gral__icons a {
    margin: 10px;
  }
  #principal #boton {
    background-color: white;
    border-radius: 5px;
    border: 1px solid blue;
    color: blue;
  }
  #principal #search__main {
    visibility: hidden;
  }
  #principal #menu {
    visibility: hidden;
  }
  #aside__menu {
    background-color: #F5F5F5;
  }
  #aside__menu li {
    padding: 3px;
    font-size: 15px;
  }
  #aside__menu li:hover {
    background-color: rgb(215, 209, 240);
    padding: 3px;
    border-radius: 5px;
    -webkit-text-decoration: underline solid blue;
            text-decoration: underline solid blue;
  }
  #aside__menu .aside__icons__all {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #aside__menu .aside__icons__all a:hover {
    background-color: rgb(215, 209, 240);
    padding: 10px;
    border-radius: 5px;
  }
  #aside__menu .subtitle {
    width: 200px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #aside__menu .subtitle h2 {
    color: #000;
    font-size: 18px;
    font-weight: 600;
  }
  #aside__menu .subtitle a:hover {
    background-color: rgb(215, 209, 240);
    padding: 10px;
    border-radius: 5px;
  }
  #aside__menu .cards {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #aside__menu .card1 {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  #aside__menu .card1 a {
    align-items: center;
  }
  #aside__menu .card2 {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
  }
  #aside__menu .card2 h2 {
    font-size: 15px;
    color: rgb(100, 100, 100);
  }
  #aside__menu .card2 p {
    font-size: 15px;
    font-weight: 600;
  }
  #aside__menu .card2 a {
    align-items: center;
    text-decoration: none;
  }
  #aside__menu .card2 ul li {
    color: blue;
    text-decoration: none;
    background-color: transparent;
  }
  #aside__iconos {
    margin-bottom: 200px;
    padding: 10px;
    position: fixed;
  }
  #aside__iconos .art__heart {
    height: 100px;
  }
  #aside__iconos .art__heart a:hover {
    padding: 5px;
    height: 500px;
    background-color: red;
    border-radius: 50px;
  }
  #aside__iconos .art__comment {
    height: 100px;
  }
  #aside__iconos .art__save {
    height: 100px;
  }
}
@media screen and (min-width: 768px) {
  #principal {
    background-color: white;
    box-shadow: 10px 5px 5px rgb(176, 174, 174);
  }
  #principal .profile {
    border-radius: 50px;
  }
  #principal .gral__icons {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  #principal .gral__icons a {
    margin: 10px;
  }
  #principal #menu {
    display: inline;
    visibility: hidden;
  }
  #principal #boton {
    background-color: white;
    border-radius: 5px;
    border: 1px solid blue;
    color: blue;
  }
  #principal #search__main {
    visibility: hidden;
  }
}
@media screen and (max-width: 768px) {
  #principal {
    background-color: white;
    box-shadow: 10px 5px 5px rgb(176, 174, 174);
  }
  #principal .profile {
    border-radius: 50px;
  }
  #principal .gral__icons {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  #principal .gral__icons a {
    margin: 10px;
  }
  #principal #form__main {
    visibility: hidden;
  }
  #principal #search__main {
    visibility: visible;
    display: flex;
    justify-content: end;
  }
  #principal #boton {
    display: none;
  }
  #principal #menu {
    display: block;
  }
  #principal #menu__list li {
    padding: 3px;
    font-size: 18px;
  }
  #principal #menu__list li:hover {
    background-color: rgb(215, 209, 240);
    padding: 3px;
    border-radius: 3px;
    -webkit-text-decoration: underline solid blue;
            text-decoration: underline solid blue;
  }
  #principal #menu__list2 li {
    font-size: 18px;
  }
  #principal .offcanvas-subtitle {
    padding: 5px;
  }
  #principal .offcanvas-subtitle h5 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
  }
  #principal .aside__icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
  }
  #aside__menu {
    display: none;
  }
  #aside__iconos {
    display: none;
  }
}
body {
  background-color: #F5F5F5;
}

#main-nav-link {
  font-weight: bold;
  color: #000000;
}

#main-nav-link:hover {
  background-color: #ffffff;
  border-radius: 10px;
  color: #3B49DF;
}

#main-nav-link-2 {
  color: #000000;
}

#main-nav-link-2:hover {
  background-color: #ffffff;
  border-radius: 10px;
  color: #3B49DF;
}

#title-link {
  color: #000000;
  text-decoration: none;
}

#title-link:hover {
  color: #3B49DF;
}

#hashtag-link {
  padding: 5px;
  border: rgba(0, 0, 0, 0) solid 1px;
  font-size: 14px;
}

#hashtag-link:hover {
  background-color: #F3F3F3;
  border: #e0e0e0 solid 1px;
  border-radius: 5px;
}

#interaction-link {
  padding: 10px;
  font-size: 14px;
}

#interaction-link:hover {
  background-color: #F3F3F3;
  border-radius: 5px;
}

small {
  font-size: 12px;
}

#bookmark-link:hover {
  background-color: #EBECFC;
  color: #2F3AB1;
}/*# sourceMappingURL=style.css.map */